@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

/* Main view step */
html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Prompt', sans-serif;
    margin: 0;
}

/* --------- nav bar--------- */
h1 {
    text-align: center;
}

a {
    background-color: black;
    color: blanchedalmond;
    border: solid white 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: medium;
    width: 30%;
    position: relative;
    left: 35%;
    display: block;
}

/*----Game area--- */
#game-area {
    width: 400px;
    height: 800px;
    margin: 0 auto;
    border-radius: 10px;
    background: #eee;
    overflow: hidden;
    display: block;
    bottom: 20px;

}

/* ---Site footer--- */
footer {
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 40px;
    padding-top: 5px;
    text-align: center;
    color: #fff;
    background-color: #000;
}
